
<!-- app/views/restaurants/_form.html.erb -->
<%# <script>
  var typed = new Typed('#typed', {
    stringsElement: '#typed-strings'
  });
</script>

<div id="typed-strings">
  <p>Typed.js is a <strong>JavaScript</strong> library.</p>
  <p>It <em>types</em> out sentences.</p>
</div>
<span id="typed"></span> %>


<%= simple_form_for(@itinerary) do |f| %>
  <span data-controller='typed' data-typed-strings-value="<%= ["Where do you want to go?"] %>">

  <p></p>
  </span>
  <%= f.input :answer1, label: false %>
  <span data-controller='typed' data-typed-strings-value="<%= ["Please enter the dates you want to go."] %>">
  <p></p>
  </span>
  <p></p>
  <%= f.date_field :start_date %>
  <%= f.date_field :end_date %>
  <p></p>
  <span data-controller="typed" data-typed-strings-value="<%= ["What cities do you want to visit?"] %>">
    <%# <p>What cities do you want to visit?</p> %>
  <p></p>
  </span>
  <%= f.input :answer3, label:false %>
  <span data-controller="typed" data-typed-strings-value="<%= ["What type of activities do you like to do?  E.g. sightseeing, nightclubs, beaches etc"] %>">
    <%# <p>What type of activities do you like to do?  E.g. sightseeing, nightclubs, beaches etc</p> %>
  <p></p>
  </span>
  <%= f.input :answer4, label:false  %>
  <span data-controller="typed" data-typed-strings-value="<%= ["What type of cuisine preferences do you have?  Are there any dietary preferences/requirements to consider?"] %>">
    <%# <p>What type of cuisine preferences do you have?  Are there any dietary preferences/requirements to consider?</p> %>
  <p></p>
  </span>
  <%= f.input :answer5,  label:false %>
  <span data-controller="typed" data-typed-strings-value="<%= ["Do you or anyone in your travelling group have any accessibility requirements?"] %>">
    <%# <p>Do you or anyone in your travelling group have any accessibility requirements?</p> %>
  <p></p>
  </span>
  <%= f.input :answer6, label:false  %>
  <%= f.submit class: "btn btn-tripmate-black my-2 lg-5"%>
<% end %>
