<div class="memory-container-2"<%#fade-out"%>  >

 <div class="mem-reel-title-2">
  <h2><%=@username%>'s trip to Rome</h2>
 </div>

  <div id="carouselExampleControls" class="carousel slide mx-3 mb-5 mt-3" data-ride="carousel">
    <div class="carousel-inner">

    <div class="carousel-item active">
      <%= image_tag "https://t3.ftcdn.net/jpg/02/27/88/36/360_F_227883696_tvfOO6syjvdRJYZls1FvCSgUqfVAcNXL.jpg", class:"c-img d-block w-100"%>
      </div>

    <div class="carousel-item">
    <%= image_tag "https://www.italyperfect.com/blog/wp-content/uploads/2019/04/Italy-Perfect-Expert-Shares-Rome-Sightseeing-Tips-by-Italy-Perfect4.jpg", class:"c-img d-block w-100" %>
    </div>

    <div class="carousel-item">
    <%= image_tag "https://media.istockphoto.com/id/891284194/photo/pasta-pizza-and-homemade-food-arrangement-in-a-restaurant-rome.jpg?s=612x612&w=0&k=20&c=w9dYWN9kqLixeJcN4OmTP4FCSMY4uh31nrXklBqIngw=", class:"c-img d-block w-100" %>
    </div>

    <div class="carousel-item">
    <%= image_tag "https://www.planetware.com/photos-large/I/pantheon.jpg", class:"c-img d-block w-100" %>
    </div>

    </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

</div>

      <div class="print-icon-2">
        <a href="https://freesnaps.co.uk/" class="btn-tripmate-black share" target="_blank"><i class="fa-solid fa-print"></i></a>
      </div>
