<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<%= render "shared/navbar" %>

<div class="itinerary-map">
  <%= render "activities/map" %>
</div>

<div class="card py-5 d-flex align-items-center justify-content-center text-center">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto m-5">
      <h1 class="fw-light"><%=@username%>'s Trips</h1>
    </div>
  </div>
  <div>
    <ul class="list-unstyled">
      <% @itineraries.each do |itinerary| %>
        <li> <%= link_to itinerary.name, itinerary_activities_path(itinerary)%> </li>

        <div class="itin-index-imgs">
          <img src="https://source.unsplash.com/256x256/?<%=itinerary.answer1%>">
        </div>
      <% end %>
    </ul>
  </div>
  <div class="memory card mt-5 py-5" style="
      position: fixed;
      width: 100%;
      height: 100%;
      top:0;
      left:0;
      display: none;
      background-color: #EFEFEF;">
        <%= render "memory_reel" %>
  </div>
</div>

<div class="c2a-button-map-itin">
  <i class="d-flex align-items-center justify-content-center fa-solid fa-map-location-dot"></i>
</div>

<div class="c2a-button-add-itin">
  <i class="d-flex align-items-center justify-content-center fa-solid fa-plus"></i>
</div>

<div class="c2a-button-view-mem">
  <i class="d-flex align-items-center justify-content-center fa-solid fa-images"></i>
</div>


<script class="no-show">
  $(document).ready(function() {
    const memButton = $('.c2a-button-view-mem');
    const memoryContainer = $('.memory');
    const mapButton = $('.c2a-button-map-itin');
    const itineraryMap = $('.itinerary-map');

    memButton.on('click', function() {
      memoryContainer.fadeToggle();
    });

    mapButton.on('click', function() {
      $('body').children().not('.memory, .no-show, .itinerary-map, .c2a-button-map-itin, .navbar, .navbar *').fadeToggle();
    });
  });
</script>
