<h2><%= activity.title %></h2>
<p><%= activity.datetime %></p>
<p><%= activity.description %></p>
<p><%= activity.category %></p>
<p><%= activity.address %></p>
<p><%= activity.phone_number %></p>
<p><%= link_to activity.url, activity.url, target: '_blank' %></p>
<%= link_to "directions", "https://maps.google.com/?q=#{activity.latitude},#{activity.longitude}" %>
