<h2><%= activity.title %></h2>
<p><%= activity.datetime %></p>
<p><%= activity.description %></p>
<p><%= activity.category %></p>
<p><%= activity.address %></p>
<p><%= activity.phone_number %></p>
<p><%= activity.url %></p>
