<nav class="navbar navbar-top fixed-top">

  <div class="nav-logo-cont">
    <%# <img id="nav-logo" src="https://res.cloudinary.com/dopxbkgda/image/upload/v1715705819/tripmate_logo_trans_crop_w44ekt.png"> %>
      <img id="nav-logo" src="https://res.cloudinary.com/dopxbkgda/image/upload/v1715901167/tripmate_logo_123_crop_shadow_ifg0av.png">
  </div>



    <ul class= "nav nav-pills d-flex justify-content-around w-100">
      <li class="nav-item me-auto">
        <%= link_to :back do %>
          <%= image_tag "https://static.thenounproject.com/png/5892202-200.png", class: "back-icon" %>
        <% end %>
      </li>
    </ul>
</nav>


<nav class="navbar fixed-bottom align-items-start justify-content-center">
  <div class="container-fluid">

    <ul class="nav nav-pills d-flex align-items-center justify-content-around w-100 me-3">

      <li class="nav-item">
        <a class="nav-link" href="/">
          <%= image_tag "icons/home_icon.png", alt: "Home", class: "nav-icon" %>
        </a>
      </li>

      <%# <li class="nav-item">
        <a class="nav-link" href="/itineraries">
          <%= image_tag "icons/search_icon.png", alt: "Search", class: "nav-icon" %>
        <%# </a>
      </li>  %>

     <%# <div class= "plus">
       <li>
        <a class="btn btn-tripmate" href="/itineraries/new">
          <i class="fas fa-plus"></i>
        </a>
       </li>
     </div> %>


      <%# <li class="nav-item">
        <a class="nav-link" href="/itineraries/new">
          <%= image_tag "icons/chat_icon.png", alt: "Chat", class: "nav-icon" %>
        <%# </a>
      </li>  %>




      <li class="navbar-drop-menu nav-item dropup">
          <%= image_tag "icons/user_icon.png", class: 'dropdown-toggle nav-icon ', data: { bs_toggle: 'dropdown' }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/itineraries">Dashboard</a>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      </li>


    </ul>
  </div>
</nav>
