<nav class="navbar fixed-bottom navbar-sm">
  <div class="container-fluid">

    <ul class="nav nav-pills d-flex justify-content-around w-100">

      <li class="nav-item">
        <a class="nav-link" href="/itineraries">
          <%= image_tag "icons/user_icon.png", alt: "User", class: "nav-icon" %>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/itineraries/new">
          <%= image_tag "icons/chat_icon.png", alt: "Chat", class: "nav-icon" %>
        </a>
      </li>

       <li class="nav-item">
        <a class="nav-link add-btn btn-tripmate" href="/itineraries/new">
          <i class="fas fa-plus"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/">
          <%= image_tag "icons/home_icon.png", alt: "Home", class: "nav-icon" %>
        </a>
      </li>

     <%# need to add log out%>
      <%# <li class="nav-item">
        <a class="nav-link" href="/">
          <%= image_tag "icons/home_icon.png", alt: "Home", class: "nav-icon" %>
        <%# </a>
      </li> %>

      <li class="nav-item">
        <a class="nav-link" href="/itineraries">
          <%= image_tag "icons/search_icon.png", alt: "Search", class: "nav-icon" %>
        </a>
      </li>
    </ul>
  </div>
</nav>
