<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <div id="navbar-act">
    <%= render "shared/navbar" %>
  </div>

  <div id="map-act">
    <%= render "map" %>
  </div>

  <div>
    <img class="banner" src="https://images.unsplash.com/photo-1500835556837-99ac94a94552?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&w=2400">
    <div class="act-index container title-card card shadow">
      <div class="container">
       <h1><%=@username%>'s trip to <%=@itinerary.answer1%></h1>
      </div>
      <div class="title-card-bottom-info-bar flex-row align-items-baseline justify-content-between mt-5">
        <%= @itinerary.start_date.strftime("%b %e") %> -
        <%= @itinerary.end_date.strftime("%b %e, %Y") %>
        <a href="#" class="btn-tripmate-black-share"><i class="fa-solid fa-arrow-up-from-bracket"></i></a>
      </div>

    </div>
  </div>
  <%#div class="py-5 text-center container">
    <%#a class="btn btn-primary btn-lg px-4 gap-3 mt-2" <%= link_to "My Itineraries", itineraries_path%></a>
  <%# </div> %>

  <%# map button %>
  <div class="c2a-button-map">
    <i class="d-flex align-items-center justify-content-center fa-solid fa-map-location-dot"></i>
  </div>

  <%# add activity button (not functional) %>
  <div class="c2a-button-add-act">
    <%# <h1>+</h1> %>
    <i class="d-flex align-items-center justify-content-center fa-solid fa-plus"></i>
  </div>


  <%# collapse group test start %>
  <div class="act-list-container container-fluid mt-5">
    <div class="act-list-container mt-5 mb-5 pb-5">
      <div class="panel-group act-expand-control-container">
        <button class="btn-tripmate-black-collapse" type="button" id="expandAllButton"><i class="fa-solid fa-plus"></i></button>
        <button class="btn-tripmate-black-collapse" type="button" id="collapseAllButton"><i class="fa-solid fa-minus"></i></button>
        <%# loops begin %>
        <% @activities_by_datetime.each_with_index do |datetime_activities, index| %>
          <div class="act-card-body mt-2">
            <div class="act-date-list d-flex align-content-center justify-content-left pt-2" id="heading<%= index %>">
              <h5 class="mb-0">
                <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>">
                  <h2><%= datetime_activities.first.datetime.strftime("%B %e, %Y") %></h3>
                  <%# <span class="chevron"><i class="fa-solid fa-angles-left"></i></span> %>
                </button>
              </h5>
            </div>


            <div id="collapse<%= index %>" class="collapse show" aria-labelledby="heading<%= index %>">
              <div class="act-card-body pb-2">
                <% datetime_activities.each do |activity| %>
                  <%= link_to activity_path(activity) do %>
                    <div class="act-list-cards card rounded border-bottom">
                      <div class="card-body">
                        <div class="row">
                          <div class="act-card-time-bar col-md-2 d-flex justify-content-center">
                            <p class="card-text">
                              <%= activity.datetime.strftime("%H:%M") %>
                                </p>
                                  </div>
                                  <div class="col-8">
                                    <p class="card-text"><em><%= activity.category %></em></p>
                                    <h5 class="card-title"><%= activity.title %></h5>
                                    <p class="card-text"><small class="text-body-secondary"><%= activity.city %>, <%= activity.phone_number %></small></p>
                                  </div>
                                  <div class="col-4 d-flex justify-content-center">
                                    <img id="act-img" src="https://source.unsplash.com/256x256/?<%= activity.category %>: <%= activity.title %> in <%= activity.country %>">
                                  </div>
                          </div>


                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script class="no-show">
document.addEventListener('DOMContentLoaded', function() {
  const mapButton = document.querySelector('.c2a-button-map');
  let elementsHidden = false;

  mapButton.addEventListener('click', function() {
    if (elementsHidden) {
      // fade in all elements
      $('body').children().not('.c2a-button-map, .no-show, #navbar-act, #map-act').fadeIn();
    } else {
      // fade out all elements except the specified ones
      $('body').children().not('.c2a-button-map, .no-show, #navbar-act, #map-act').fadeOut();
    }
    elementsHidden = !elementsHidden;
  });

  // collapse group and card script
  const collapseAllButton = document.getElementById('collapseAllButton');
  const expandAllButton = document.getElementById('expandAllButton');

  collapseAllButton.addEventListener('click', function() {
    const collapseElements = document.querySelectorAll('.collapse.show');
    collapseElements.forEach(function(collapseEl) {
      new bootstrap.Collapse(collapseEl);
    });
  });

  expandAllButton.addEventListener('click', function() {
    const collapseElements = document.querySelectorAll('.collapse');
    collapseElements.forEach(function(collapseEl) {
      new bootstrap.Collapse(collapseEl, { toggle: false }).show();
    });
  });
});
</script>
