<%= render "shared/navbar" %>
<div class = "show-container col d-flex justify-content-center">
 <div class="card d-flex justify-content-center mb-3">
  <div class="card-body">
      <h1><%= @activity.title %></h1>

    <h2>Date:</h2> <%= @activity.datetime %>
    <h2>Description:</h2> <%= @activity.description %>
    <h2>Category:</h2> <%= @activity.category %>
    <h2>Address:</h2> <%= @activity.address %>
    <h2>Phone_number:</h2> <%= @activity.phone_number %>
    <h2>Url:</h2> <%= @activity.url %>
    <h2>Longitude:</h2> <%= @activity.longitude %>
    <h2>Latitude:</h2> <%= @activity.latitude %>

    </div>
  </div>
</div>
