  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<%= render "shared/navbar" %>

<div>
  <img class="banner" src="https://images.unsplash.com/photo-1500835556837-99ac94a94552?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&w=2400">
  <div class="act-index container title-card card text-center shadow">
    <div class="container d-flex-column align-items-center">
      <h1><%=@username%>'s trip to Thailand</h1>
      <%# <h1><%=@itinerary.name%>
      <%# </h1> %>
        <%# <p>Hey <%=@username%>
        <%# , here is your personalised itinerary!</p> %>
        <%# refactor this just to say [username]'s trip to [country] %>
    </div>
    <div class="title-card-bottom-info-bar d-flex-row align-items-center justify-content-between">
      <%= @itinerary.start_date.strftime("%b %e") %> -
      <%= @itinerary.end_date.strftime("%b %e %Y") %>
    <a href="#" class="btn-tripmate-black-share">Share</a>
    </div>
  </div>
</div>
<%#div class="py-5 text-center container">
  <%#a class="btn btn-primary btn-lg px-4 gap-3 mt-2" <%= link_to "My Itineraries", itineraries_path%></a>
<%# </div> %>

<%# collapse group test start %>

<div class="container pt-5 panel-group2">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Collapsible Group 1</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Collapsible Group 2</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Collapsible Group 3</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
  </div>
</div>

<%# collapse group test end %>

<div class="act-list-container container">
  <div class="panel-group">
    <% @activities_by_datetime.each do |datetime_activities| %>
    <button class="btn btn-primary" type="button" data-toggle="collapse in" data-target=".multi-collapse">Toggle</button>

    <div class="">
      <h3><%= datetime_activities.first.datetime.strftime("%d %B %Y") %></h3>
    </div>
    <div class="multi-collapse">
          <% datetime_activities.each do |activity| %>
          <%= link_to activity_path(activity) do %>
      <div class="act-list-cards card container">
          <div class="time">
              <p class="card-text">
                <%=activity.datetime.strftime("%I:%M%p") %>
              </p>
          </div>
          <div class="card-right container">
            <div class="card-body">
              <%# <p class="card-text text-body-secondary"> %>
                <%# <%= activity.datetime.strftime("%I:%M%p") %>
              <%# </p> %>
              <p class="card-text">[<%=activity.category%>]</p>
              <h5 class="card-title"><%= activity.title %></h5>
              <p class="card-text"><small class="text-body-secondary"><%= activity.city %>, <%= activity.phone_number %></small></p>
              <%# <%= cl_image_tag activity.photo.key, alt: “AI-generated image of the location” if activity.photo.attached? %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
</div>
