<%= render "shared/navbar" %>

<div class = "show-container col d-flex justify-content-center">
 <div class="card d-flex justify-content-center mb-3">
  <div class="card-body">
      <h1><%= @activity.title %></h1>

    <h2>Date:</h2> <%= @activity.datetime %>
    <h2>Description:</h2> <%= @activity.description %>
    <h2>Category:</h2> <%= @activity.category %>
    <h2>Address:</h2> <%= @activity.address %>
    <h2>Phone_number:</h2> <%= @activity.phone_number %>
    <h2>Url:</h2> <a href=<%=@activity.url%> target="_blank"><%= @activity.url %></a>
    <h2>Longitude:</h2> <%= @activity.longitude %>
    <h2>Latitude:</h2> <%= @activity.latitude %>

    </div>
  </div>
</div>


<div class="py-5 text-center container">


<a href="#" class="btn btn-primary btn-lg px-4 gap-3 mt-2"> <%= link_to 'Back to Full Itinerary', itinerary_activities_path(@itinerary)%></a>


</div>


<%# <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> %>
<%= render"map" %>
